{{- $email := promptStringOnce . "email" "Email address" "mloberg@users.noreply.github.com" -}}
{{- $signingKey := promptStringOnce . "signingKey" "Git signing key" -}}
{{- $isWork := promptBoolOnce . "isWork" "Work machine" -}}

[data]
  email = {{ $email | quote }}
  signingKey = {{ $signingKey | quote }}
  isWork = {{ $isWork }}
[edit]
  command = "zed"
