{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingKey := promptStringOnce . "signingKey" "Git signing key" -}}
{{- $isWork := promptBoolOnce . "isWork" "Work machine" -}}

[data]
  email = {{ $email | quote }}
  signingKey = {{ $signingKey | quote }}
  isWork = {{ $isWork }}
[edit]
  command = "code"
  args = ["--wait"]
