# Customize homebrew bundle for personal/work computer
#
# uncomment what you need or add additional items

# RECOMMENDED, but sometimes doesn't play nice with corporate security tools
cask "blockblock"
cask "dhs"
cask "little-snitch"
cask "protonvpn"

# "Design" things
# brew "imagemagick"
# cask "imagealpha"
# cask "imageoptim"
# mas "Affinity Photo", id: 824183456

# Work specific tools
# cask "vagrant"
# cask "virtualbox"
# mas "Jira", id: 1475897096

# Music apps
# cask "ilok-license-manager"
# cask "guitar-pro"
