cask_args appdir: "/Applications"

tap "homebrew/bundle"

brew "ack"
brew "antidote"
brew "aspell"
brew "bat"
brew "broot"
brew "chezmoi"
brew "coreutils"
brew "direnv"
brew "diskonaut"
brew "duf"
brew "dust"
brew "eza"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "go"
brew "go-task"
brew "golangci-lint"
brew "gron"
brew "gum"
brew "hadolint"
brew "httpie"
brew "hugo"
brew "jq"
brew "lesspipe"
brew "m-cli"
brew "mas"
brew "mkcert"
brew "nss"
brew "opa"
brew "pre-commit"
brew "procs"
brew "proto"
brew "reattach-to-user-namespace"
brew "readline"
brew "ripgrep"
brew "sd"
brew "shellcheck"
brew "starship"
brew "tflint"
brew "the_silver_searcher"
brew "tldr"
brew "vim"
brew "wget"
brew "yq"
brew "zsh-completions"

cask "1password"
cask "1password-cli"
cask "aldente"
cask "docker"
cask "elgato-camera-hub"
cask "elgato-control-center"
cask "elgato-stream-deck"
cask "elgato-wave-link"
cask "firefox"
cask "ghostty"
cask "gpg-suite-no-mail"
cask "notion"
cask "tailscale"
cask "visual-studio-code"
cask "yubico-authenticator"

# Fonts
cask "font-fira-code-nerd-font"

# App Store
mas "Pages", id: 409201541
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825

{{ if .isWork -}}
# Work
tap "hashicorp/tap"

brew "act"
brew "actionlint"
brew "awscli"
brew "chart-testing"
brew "conftest"
brew "cosign"
brew "dotenv-linter"
brew "git-cliff"
brew "goreleaser"
brew "helm"
brew "mockery"
brew "terraform-docs"
brew "trivy"
brew "hashicorp/tap/packer"

cask "slack"
cask "zoom"

cask "tableplus"
cask "tuple"
{{- else -}}
# Personal
cask "bambu-studio"
cask "Discord"
cask "guitar-pro"
{{- end }}

localbrew = "#{Dir.home}/.Brewfile.local"
instance_eval(File.read(localbrew)) if File.exist?(localbrew)
