# [user]
#   name = {{ name }}
#   email = {{ email }}
#   signingkey = {{ gpgkeyid }}
[credential]
  # Use "cache" if not running macOS
  helper = osxkeychain
[gpg]
  program = gpg
[commit]
  gpgsign = true
[tag]
  gpgsign = true
